[submodule "client"]
	path = client
	url = https://gitlab.com/Lipovsky/tpcc-course-client.git
[submodule "library/twist"]
	path = library/twist
	url = https://gitlab.com/Lipovsky/twist.git
[submodule "library/tinyfiber"]
	path = library/tinyfiber
	url = https://gitlab.com/Lipovsky/tinyfiber
[submodule "library/tiny-support"]
	path = library/tiny-support
	url = https://gitlab.com/Lipovsky/tiny-support
