version: "3.3"

services:
  tpcc:
    build:
      context: tpcc-image
      dockerfile: Dockerfile
    container_name: tpcc-image
    cap_add:
      - SYS_PTRACE
    stdin_open: true
    tty: true
    volumes:
      - <mount_path>:/tpcc
    ports:
      - "127.0.0.1:2222:22"
